/*
* Brand
* 
*/



.brand__media
	margin 0 auto
	width 130px
	+above(sm)
		width 200px
	
.brand__title
	margin ($space/2) auto
	pxtorem(font-size, 50)
	font-weight normal
	font-family Montserrat
	color $white
	text-shadow 3px 3px $brand-danger
	+above(sm)
		margin-top ($space*2)
		margin-bottom 0
		
	
	
	