.modal#modalDanger(role="dialog")
	.modal__content
		a(href="").btn-close
			.icon

		span.modal__icon.icon-sad  
		.modal__title Que pena! Você não acertou!
		p Continue tentando resolver o problema do Hell Triangle. 
		p Dica: Faça o teste com seus amigos também criando suas próprias regras da dinâmica de tentativas.