.modal#modalSuccess
	.modal__content
		a(href="").btn-close
			.icon

		span.modal__icon.icon-premium 
		.modal__title Parabéns! Você acertou!
		p Você conseguiu resolver o problema do Hell Triangle. 
		p Dica: Que tal desafiar seus amigos criando suas próprias regras da dinâmica de tentativas?


