/*
* Generic styles
* 
*/



*  
	box-sizing border-box  
  
	&:before
	&:after 
		box-sizing border-box 
  

html  
	font-size 10px
	font-size responsive 8px 10px
	
body
	font-size $text-size
	font-family 'Open Sans', Arial, Sans-serif

a
	color lightness($brand-primary, 70%)
	&:hover
		color $blue-light	

img
	max-width 100%
	height auto
	
hr
	margin ($space*2) 0