/*
* Helpers
* 
*/



// Margins and Paddings
.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

// Text aligns
.align-center {
	text-align: center !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

// Floats
.to-right {
	float: right !important;
}

.to-left {
	float: left !important;
}

// No scroll
.no-scroll
	overflow hidden

// Animation Jump
@keyframes jump 
	0%
		transform translateY(0)
	20%
		transform translateY(0)		
	40%
		transform translateY(-20px)
	50%
		transform translateY(0)
	60%
		transform translateY(-10px)		
	80%
		transform translateY(0)
	100%
		transform translateY(0)
		
// Animation Pulse
@keyframes pulse 
	0%
		transform scale(1)
	20%
		transform scale(1)		
	40%
		transform scale(1.2)
	50%
		transform scale(1)
	60%
		transform scale(1.1)		
	80%
		transform scale(1)
	100%
		transform scale(1)