footer.footer-page(data-3800="top: 1000px" data-4000="top: 150px" data-4100="top: 200px" role="contentinfo")
	.container
		.infos
			p.infos__description Desenvolvi esse jogo utilizando um boilerplate também criado por mim. <br /> Saiba mais acessando o 
				a(href="https://github.com/diogorodrigues/iceberg-boilerplate") Iceberg Boilerplate.
			p.infos__description Para os efeitos, utilizei o plugin 
				a(href="https://github.com/Prinzhorn/skrollr") Skrollr.
			a.btn.btn-terciary(href="https://github.com/diogorodrigues/hell-triangle") Fork me on github

		.credits
			| By 
			a(href="http://www.diogorodrigues.com.br") Diogo Rodrigues
