//- include ../mixins/mixins

header.header-page(data-0="top: 0px" data-1000="top: -1000px" role="banner") 
	.container
		.brand
			.brand__media 
				img(src="assets/img/logo-triangle.svg", alt="Jogo Hell Triangle", width="300px")
			h1.brand__title Jogo Hell Triangle

		nav.btns-group(role="navigation")
			a(onclick="skrollr.get().animateTo(1200)").btn.btn-primary.btn-play Jogar
			a(href="#modalRules" aria-haspopup="true").btn.btn-secondary.btn-modal Regras do jogo

	a(onclick="skrollr.get().animateTo(1200)" aria-label="Scroll").btn-scroll
		span.icon.icon-arrow 
