//- Variables
block vars
	- var pageTitle = 'Game Hell Triangle'

doctype html
html(lang="pt-br")
	head
		title #{pageTitle}
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content='Documentation of the Game Hell Triangle')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='assets/css/main.css')

		//- Favicon		
		link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" href="assets/img/favicon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="assets/img/favicon/favicon-16x16.png" sizes="16x16")
		link(rel="manifest" href="assets/img/favicon/manifest.json")
		link(rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="theme-color" content="#ffffff")

		link(href='https://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:400,600' rel='stylesheet' type='text/css')
		
	body

		//- Content
		block content

		script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
		script(async src='assets/js/main.js')


